<section class="py-24 px-6 text-center">
  <div class="container mx-auto w-full md:w-3/4">
    <h1 class="text-5xl font-bold mb-2">These people ❤️ boilerplate</h1>
    <p class="text-neutral-600 text-xl mb-12">and we ❤️ them</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <%= render "static_pages/tweet" %>
      <%= render "static_pages/tweet" %>
      <%= render "static_pages/tweet" %>
      <%= render "static_pages/tweet" %>
      <%= render "static_pages/tweet" %>
      <%= render "static_pages/tweet" %>
    </div>
  </div>
</section>
