<div class="flex justify-between items-center">
  <h2 class="text-3xl font-semibold">My Account</h2>
  <p class="text-sm text-slate-500">*Required information</p>
</div>

<hr class="my-6">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <p class="font-semibold mb-6">Update your details</p>

  <div class="flex flex-col gap-y-6">
    <div>
      <%= f.label :first_name, "*First Name", class: "block mb-2" %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name", class: "w-full field" %>
    </div>

    <div>
      <%= f.label :last_name, "*Last Name", class: "block mb-2" %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last-name", class: "w-full field" %>
    </div>

    <div>
      <%= f.label :email, "*Email Address", class: "block mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full field" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="text-sm mt-2">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
  </div>

  <hr class="my-8">

  <p class="font-semibold mb-6">Update your password</p>

  <div class="mt-6">
    <div class="mb-6">
      <%= f.label :current_password, class: "block mb-2" %>
      <p class="text-sm text-zinc-500 mb-2">(we need your current password to confirm your changes)</p>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full field" %>
    </div>

    <div class="mb-6">
      <%= f.label :password, "New password", class: "block mb-2" %>
      <p class="text-sm text-zinc-500 mb-2">(leave blank if you don't want to change it)</p>
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full field" %>
      <% if @minimum_password_length %>
        <em class="text-sm text-zinc-500"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class: "block mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full field" %>
    </div>
  </div>

  <%= f.submit "Update", class: "bg-zinc-900 text-white px-12 py-2.5 rounded-xl hover:bg-zinc-800 cursor-pointer focus:bg-zinc-800 active:bg-zinc-800" %>


  <hr class="my-6">

  <p class="font-semibold">Your subscription</p>
<% end %>

<hr class="my-6">

<%= button_to "Delete your account", registration_path(resource_name), data: { turbo_confirm: "Are you sure? If you would just like to cancel your subscription, you can click on ‘update or cancel subscription’ and follow the instructions in Stripe to cancel. If you would like to completely close your account, please click `Ok`, this action cannot be undone" }, method: :delete, class: "underline text-red-700 hover:text-red-900 font-semibold" %>
