<div class="bg-white text-black rounded-3xl p-8 md:px-20 md:py-11">
  <h2 class="text-4xl font-bold text-center mb-4">Resend unlock email</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-4">
      <%= f.label :email, "Email address", class: "block mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" %>
    </div>

    <div class="actions">
      <%= f.submit "Resent unlock email", class: "w-full bg-black text-white p-3 rounded-lg hover:cursor-pointer" %>
    </div>
  <% end %>

  <div class="mt-11">
    <%= render "devise/shared/links" %>
  </div>
</div>
