<div class="w-full">
  <div class="container mx-auto p-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <%= link_to root_path, class: "text-xl font-semibold cursor-pointer" do %>
          Boilerplate
        <% end %>

        <div class="ml-12 hidden md:flex justify-center items-center font-semibold gap-6">
          <% unless user_signed_in? %>
            <%= link_to "Features", root_path, class: "hover:underline decoration-2 underline-offset-8" %>
            <%= link_to "Pricing", root_path, class: "hover:underline decoration-2 underline-offset-8" %>
            <%= link_to "Blog", root_path, class: "hover:underline decoration-2 underline-offset-8" %>
          <% end %>
        </div>
      </div>

      <div class="flex justify-end items-center gap-6">
        <% if user_signed_in? %>
          <%= link_to edit_user_registration_path, class: "h-12 w-12 bg-gray-200 rounded-lg flex items-center justify-center cursor-pointer" do %>
            <i class="fa-solid fa-gear text-2xl text-gray-900"></i>
          <% end %>

          <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "cursor-pointer hover:underline" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "hover:underline decoration-2 underline-offset-8 cursor-pointer" %>
          <%= link_to new_user_registration_path, class: "px-4 py-2 bg-zinc-900 hover:bg-zinc-700 text-zinc-50 rounded-lg" do %>
            Sign up for free <i class="fa-solid fa-arrow-right ml-2"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
