<div class="hidden lg:flex flex-col bg-white w-[24rem] shrink-0 p-6" data-reveal-target="hideable" data-reveal-hidden-class-value="lg:flex">
  <div class="flex justify-between items-center mb-6">
    <%= link_to root_path, class: "text-xl font-semibold cursor-pointer" do %>
      Boilerplate
    <% end %>

    <a href="#" data-reveal-target="closeTrigger" data-action="click->reveal#toggle:prevent" class="h-12 w-12 bg-slate-200 hover:bg-slate-300 rounded-lg flex items-center justify-center cursor-pointer" aria-label="Close sidebar">
      <i class="fa-solid fa-angles-left text-slate-900"></i>
    </a>
  </div>

  <div class="flex flex-col gap-2">
    <%= active_link_to root_path, class: "hover:bg-slate-200 flex py-3 px-6 rounded-lg", class_active: "bg-slate-100" do %>
      Dashboard
    <% end %>

    <%= link_to root_path, class: "hover:bg-slate-200 flex py-3 px-6 rounded-lg" do %>
      Something
    <% end %>

    <% if can? :show, :admin_dashboard %>
      <%= link_to root_path, class: "hover:bg-slate-200 flex py-3 px-6 rounded-lg" do %>
        Admin
      <% end %>
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "cursor-pointer hover:underline py-3 px-6" do %>
      <i class="fa-solid fa-arrow-right-from-bracket mr-1.5"></i>Log out
    <% end %>
  </div>
</div>
