<div class="bg-white text-zinc-900 rounded-2xl p-8 md:px-20 md:py-11">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    <h2 class="text-4xl font-semibold text-center mb-4">Log in</h2>

    <div class="mb-4">
      <%= f.label :email, "Email address", class: "block mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600 field" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600 field" %>

    </div>

    <div class="flex justify-between mb-4 flex-col md:flex-row">
      <% if devise_mapping.rememberable? %>
        <div class="flex flex-row items-center">
          <div class="">
            <%= f.check_box :remember_me, class: "focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded" %>
            <%= f.label :remember_me, class: "ml-2 text-sm" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "w-full bg-black text-white p-3 rounded-lg hover:cursor-pointer" %>
    </div>

    <p class="block text-center my-4">Don't have an account? <%= link_to "Register now", new_user_registration_path, class: "font-semibold underline decoration-2 underline-offset-4 " %></p>

    <div class="mt-11">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
