<!DOCTYPE html>
<html>
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag 'favicon.ico', "data-turbo-track": "reload" %>
    <%= render "shared/metatags" %>
    <%= render "shared/analytics" %>
  </head>

  <body class="bg-zinc-50 text-zinc-800">
    <%= render "shared/flash_notifications" %>

    <main class="min-h-screen flex w-full">
      <div class="hidden lg:flex bg-white w-[24rem] shrink-0">
        <div class="p-6">
          <%= link_to root_path, class: "text-xl font-semibold cursor-pointer" do %>
            Boilerplate
          <% end %>
        </div>
      </div>

      <div class="flex flex-col bg-zinc-50 w-full">
        <%= render "shared/navigation" %>

        <div class="p-6 h-full">
          <%= yield %>
        </div>
      </div>

      <%= render "shared/feedback_widget" %>
    </main>
  </body>
</html>
