<!DOCTYPE html>
<html>
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag 'favicon.ico', "data-turbo-track": "reload" %>
    <%= render "shared/metatags" %>
    <%= render "shared/analytics" %>
  </head>

  <body>

    <article class="px-4 py-24 mx-auto max-w-7xl" itemid="#" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="w-full mx-auto mb-12 text-center md:w-2/3">
        <p class="mb-3 text-xs font-semibold tracking-wider text-gray-500 uppercase">Development</p>
        <h1 class="mb-3 text-4xl font-bold text-gray-900 md:leading-tight md:text-5xl" itemprop="headline" title="Rise of Tailwind - A Utility First CSS Framework">
          Rise of Tailwind - A Utility First CSS Framework
        </h1>
        <p class="text-gray-700">
        Written by
        <span class="byline author vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <a href="#" target="_blank" itemprop="url" rel="author noopener noreferrer" class="text-primary hover:text-primary-dark"><span itemprop="name">Praveen Juge</span></a>
        </span>
        on <time itemprop="datePublished dateModified" datetime="2010-08-07 11:11:03-0400" pubdate>Jan 02 2021</time>
        </p>
      </div>

      <div class="mx-auto prose">
        <p>
        What if there is an easy way to achieve responsive UI without using any UI kit? Can we create new and fresh designs for every project with a CSS framework? Enter Tailwind CSS, will this be the
        perfect CSS framework, well let’s find out.
        </p>
        <p>Tailwind is a utility-first CSS framework, the keyword being ‘utility’. It is basically a set of classes that you can use in your HTML.</p>
        <pre>
.bg-purple-700 {
  background-color: #6b46c1;
}

.px-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}</pre
        >
        <p>
        Therefore, we don’t have to write any custom CSS to get this button. This can be heavily extended to build whole web applications without the need for any other styles apart from a tailwind.
        </p>
        <p>...</p>
      </div>
    </article>
  </body>
</html>
