<!DOCTYPE html>
<html>
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag 'favicon.ico', "data-turbo-track": "reload" %>
    <%= render "shared/metatags" %>
    <%= render "shared/analytics" %>
  </head>

  <body class="bg-gray-100">
    <%= render "shared/flash_notifications" %>

    <div class="">
      <div class="md:h-screen p-5">
          <div class="flex flex-col md:text-white md:rounded-3xl md:p-5 md:h-full md:bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400">
            <div class="rounded-3xl mb-5 md:mt-0 p-5 md:p-0">
              <%= render 'shared/navigation' %>
            </div>

            <div class="md:flex md:h-full md:justify-center md:items-center">
              <%= yield %>
            </div>
          </div>
      </div>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
