<!DOCTYPE html>
<html>
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag 'favicon.ico', "data-turbo-track": "reload" %>
    <%= render "shared/metatags" %>
    <%= render "shared/analytics" %>
  </head>

  <body class="bg-zinc-100 text-zinc-900">
    <%= render "shared/flash_notifications" %>

    <div class="md:flex md:min-h-screen">
      <div class="flex flex-col md:rounded-3xl w-full">
        <%= link_to root_path, class: "text-center pt-6 text-xl font-semibold cursor-pointer" do %>
          Boilerplate
        <% end %>

        <div class="md:flex md:flex-col h-full md:justify-center md:items-center p-6">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>

